@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border border-black
}
h1 {
  @apply text-3xl
}
button {
  @apply bg-sky-400 rounded-xl m-1 p-1 disabled:opacity-50 disabled:pointer-events-none hover:opacity-80
}
